Redirect 301 /from-confetti-crash https://macestudios.ru/
Redirect 301 /die http://macestudios.ru/bonus/nice-opinion.html
Redirect 302 /pva-glue https://yip.su/pcboy-sprite
Redirect 301 /unblock http://macestudios.ru/pages/unblock.html
