body {
  font-size: 1em;
  font-weight: 400;

  margin: 0px;
}

body,button,input,optgroup,select,textarea {
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}



a {
  color: #4fb0ff; text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}



/*nav {
  background: #222;
  padding: 15px;

  width: 100%;
  height: 45px;
  left: 0;
  top: 0;
  z-index: 200;

  font-size: 40px;
  font-weight: bold;
  color: #fff;
  user-select: none;
}*/

.navbar {
  background-color: #1c1c1c;
  color: #fff;

  border: solid 1px #404040;
  border-radius: 28px;
  box-shadow: 0px 4px 8px rgba(0, 0, 17, 0.5);

  width: calc(100% - 32px - 2px - 16px); /* body - 2margin - 2border - 2padding*/
  max-height: 40px;
  margin: 16px;
  top: 0;
  padding: 8px;

  z-index: 30;

  position: fixed;
  display: flex;
}

.navbar-start {
  justify-content: flex-start;
  margin-right: auto;
}
.navbar-end {
  justify-content: flex-end;
  margin-left: auto;
}
.navbar-end img {
  margin-left: 16px;
  margin-right: 4px;
  margin-top: 4px;
}


iframe {
  border-radius: 16px;
}


body {
  background-image: url("assets/SiteBackground.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.firstslide {
  color: #fff;
  text-shadow: 0px 1px 5px black;

  margin-top: 80px;

  font-size: 40px;
  line-height: 100px;
  text-align: center;
}



.container {
  background-color: #242424;
  border: solid 1px #404040;
  border-radius: 28px;
  box-shadow: 0px 4px 8px #0017;


  position: relative;
  width: auto;

  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;


  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;

  padding: 24px;
}



div.content {
  background: #1c1c1c;

  color: #fff;
  font-size: 24px;
  text-align: center;

  border: solid 1px #444;
  border-radius: 8px;
  box-shadow: 0px 2px 12px #0004;

  margin: 15px;
  padding: 20px 50px;


  width: auto;
}



@media screen and (min-width: 1024px) {
    .container {
        max-width:960px;
    }
}

@media screen and (max-width: 1215px) {
    .container.is-widescreen:not(.is-max-desktop) {
        max-width:1152px;
    }
}

@media screen and (max-width: 1407px) {
    .container.is-fullhd:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width:1344px;
    }
}

@media screen and (min-width: 1216px) {
    .container:not(.is-max-desktop) {
        max-width:1152px;
    }
}

@media screen and (min-width: 1408px) {
    .container:not(.is-max-desktop):not(.is-max-widescreen) {
        max-width:1344px;
    }
}


div.postPCB4 {
  /*background: linear-gradient(#4FEF5A, #41c44a);
  color: #083c23;*/
  border-color: #4FEF5A;
}
div.postDF {
  border-color: #F51;
}
icon-gdrive {
  content: url("assets/branding/google-drive.png");
  height: 24px;
}
