/* Whole page, and main stuff */
:root {
    --primary: #4951FF;
    --link: #3abaff;
    --dark: #1b1f63;
    --background: #1B1C2E;
}
* {
    border-radius: 12px;
    font-size: 22px;
    max-width: 100%;
    /* user-select: none; */
    /*outline: none;*/
}

* {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
    margin: 0px;
    color: white;
    /*background: var(--background);*/
    /* background: linear-gradient(135deg, var(--SyrupBg1), var(--SyrupBg2)); */
    background: var(--background);
    background-image: url("assets/BgChecker.png");
    background-attachment: fixed;
}
header, section, .footer-div {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 30px;
}
p {
    text-align: left;
}
.no-wrap-text {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
}



/* Links */
a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header a, header a:hover {
    text-decoration: none;
}



/* Buttons */
button {
    background: var(--primary);
    box-shadow: 0 0.2em var(--dark);
    transform: translateY(-0.2em);

    color: #fff;
    font-weight: 600;
    font-size: 1em;

    margin: 12px;
    padding: 10px 24px;
    border: none;
    border-radius: 16px;

    transition: 0.15s;
    text-decoration: none;
}
button.color-white {
    background: white;
    color: black;
    box-shadow: 0 0.2em #bbb;
}
button.color-black {
    background: #111;
    color: white;
    box-shadow: 0 0.2em black;
}
button.color-red {
    background: #f02636;
    box-shadow: 0 0.2em #771525;
}
button.color-orange {
    background: #FF6C2D;
    box-shadow: 0 0.2em #772c15;
}
button.color-gray {
    background: #6e6f79;
    box-shadow: 0 0.2em #28282c;
}
button.color-android {
    background: #34a853;
    box-shadow: 0 0.2em #1d5f2f;
}
button.color-win {
    background: #0683e6;
    box-shadow: 0 0.2em #043b8f;
}

button:hover, button:active {
    box-shadow: 0 0 #0000;
    transform: translateY(0);
    cursor: pointer;
}
button:disabled {
    background: #6e6f79;
    box-shadow: 0 0 #393847;
    transform: translateY(0);
    text-decoration: line-through;
    cursor: no-drop;
}
a button {
    user-select: none;
}



/* Header */
header { 
    min-height: 100px;
    padding: 30px 30px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.header-logo {
    display: flex;
    flex-wrap: nowrap;
}
.header-logo-text {
    font-size: 2em;
    margin: auto 20px;
}

.header-logo-icon img {
    transition: 0.4s;
}
.header-logo-icon img:hover {
    transform: rotate(1turn);
}

.header-socials {
    margin: auto;
    margin-right: 0;
    height: 100px;
}
@media (max-width: 535px) {
    .header-socials {
        margin: auto;
    }
}

.header-item {
    display: inline-block; /* Позволяет задать размеры */
    text-decoration: none; /* Убирает подчеркивание */
    vertical-align: -.125em;

    height: 100px;
    margin: 0;
    margin-left: 15px;
    padding: 0;
}
.header-item img {
    border-radius: 0;
    height: 50px;
    margin: 25px 0;
    padding: 0;
    vertical-align: -.125em;
}



.hero-image {
    width: 380px;
    height: auto;
}



/* Footer */
footer { 
    padding: 30px 30px;
    /* background: linear-gradient(90deg, #0000, #4951FF44 20%, #4951FF44 80%, #0000); */
    background: #0005;
    border-top: 0.2em solid #0008;
    border-radius: 0;
    margin-top: 60px;
    bottom: 0;

    /* padding: 30px max(calc(50vw - 640px), 30px) 30px; */
    padding: 30px;
}
.footer-div {
    padding: 0px;
}
footer h1 {
    margin-top: 0;
    text-align: left;
    font-size: 2em;
}
#Footer-Copyright {
    color: rgba(255, 255, 255, 0.4);
}



.custom-icon {
    border-radius: 0px;
    user-select: none;
    color: white;
}



/* Section: Separation headline */
h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    margin-top: 60px;
    text-align: center;
}
.margin-20 {
    margin: 20px 0;
}



/* Section: Hero */
section.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    align-content: start
  }
section.hero-item {
    flex: 0 0 auto;
    margin: 10px;
}
#hero-heading {
    align-content: start;
    text-align: left;
}



/* Section: Projects */
section.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
    gap: 20px;
}
div.projects-item {
    width: 260px;
    height: 260px;
    flex: 1 1 auto;
    margin: 0;
    background-image: url("assets/Screenshot.jpg");
    background-size: cover;
    transition: 0.1s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
div.projects-item:hover {
    transform: scale(1.06, 1.06);
    box-shadow: 0px 8px 24px rgba(0,0,0,0.5);
}
div.projects-item-small {
    width: 180px;
    height: 180px;
}
.other-projs-mini-icon {
    height: 24px;
    border-radius: 3px;
}
mini-section {
    font-size: 1.6em;
    font-weight: 600;
    color: #fff;

    margin: 0 auto;
    text-align: center;
}


.Section-OtherProjects {
    display: flex;
    flex-wrap: wrap;
    /* gap: 1em; */
}
descriptive-project {
    display: flex;
    margin: 0.5em 0.5em;
    /* max-width: 1280px; */
    max-width: 100%;

    flex-shrink: 0;
    flex-grow: 1;

    background: #0005;
    border: 0.2em solid #0008;
}
@media (max-width: 768px) {
    descriptive-project {
        flex-direction: column;
    }
}
descriptive-project div {
    margin: 16px;
}

descriptive-project img {
    margin: 16px;
    width: 96px;
    height: 96px;
    border-radius: 5px;
}
descriptive-project div.name {
    flex-grow: 1;
}
descriptive-project div * {
    margin: 0;
}
descriptive-project button {
    margin: calc(0.2em + 8px) 0.5em 0 0;
    padding: 6px 16px;
    border-radius: 16px;
}


.half-opacity {
    color: #FFF8;
}
