/* Whole page, and main stuff */
:root {
    --primary: #4951FF;
    --link: #3abaff;
    --background: #1B1C2E;
    --SyrupBg1: #1e1a44;
    --SyrupBg2: #14213a;
    --SyrupBgM: #25242c00;
}
* {
    border-radius: 12px;
    font-size: 22px;
    max-width: 100%;
    /* user-select: none; */
    /*outline: none;*/
}

* {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

body {
    margin: 0px;
    color: white;
    /*background: var(--background);*/
    /* background: linear-gradient(135deg, var(--SyrupBg1), var(--SyrupBg2)); */
    background: var(--background);
    background-image: url("assets/BgChecker.png");
    background-attachment: fixed;
}
header, section, .footer-div {
    max-width: 1280px;
    margin: 0 auto;
    padding: 15px 30px;
}
p {
    text-align: left;
}
.no-wrap-text {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
}



/* Links */
a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header a, header a:hover {
    text-decoration: none;
}



/* Buttons */
button {
    background: var(--link);
    box-shadow: 0 0.2em var(--primary);
    transform: translateY(-0.2em);

    color: #fff;
    font-weight: 600;
    font-size: 1em;

    margin: 1em;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 1em;

    transition: 0.2s;
}
button:hover, button:active {
    background: var(--primary);
    box-shadow: 0 0 var(--primary);
    transform: translateY(0);
    cursor: pointer;
}
button:disabled {
    background: #64667e;
    box-shadow: 0 0 #393847;
    transform: translateY(0);
    text-decoration: line-through;
    cursor: no-drop;
}



/* Header */
header { 
    height: 100px;
    padding: 30px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.header-logo {
    display: contents;
}
.header-logo-text {
    font-size: 2em;
    margin: auto 0;
}

.header-logo-icon img {
    transition: 0.4s;
}
.header-logo-icon img:hover {
    transform: rotate(1turn);
}

.header-socials {
    margin: auto 0 auto auto;
    height: 100px;
}
.header-item {
    display: inline-block; /* Позволяет задать размеры */
    text-decoration: none; /* Убирает подчеркивание */
    vertical-align: -.125em;

    height: 60px;
    margin: 0;
    margin-left: 8px;
    padding: 0;
}
.header-item img {
    border-radius: 0;
    height: 60px;
    margin: 0;
    padding: 0;
    vertical-align: -.125em;
}



.hero-image {
    width: 380px;
}



/* Footer */
footer { 
    padding: 30px 30px;
    /* background: linear-gradient(90deg, #0000, #4951FF44 20%, #4951FF44 80%, #0000); */
    background: #0005;
    border-radius: 0;
    margin-top: 60px;

    /* padding: 30px max(calc(50vw - 640px), 30px) 30px; */
    padding: 30px;
}
.footer-div {
    padding: 0px;
}
footer h1 {
    margin-top: 0;
    text-align: justify;
    font-size: 2em;
}



/* Section: Separation headline */
h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    margin-top: 60px;
    text-align: center;
}
.margin-20 {
    margin: 20px 0;
}



/* Section: Hero */
section.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: auto;
    align-content: start
  }
section.hero-item {
    flex: 0 0 auto;
    margin: 10px;
}
#hero-heading {
    align-content: start;
    text-align: left;
}



/* Section: Projects */
section.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
    gap: 20px;
}
div.projects-item {
    width: 260px;
    height: 260px;
    flex: 1 1 auto;
    margin: 0;
    background-image: url("assets/Screenshot.jpg");
    background-size: cover;
    transition: 0.1s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
div.projects-item:hover {
    transform: scale(1.06, 1.06);
    box-shadow: 0px 8px 24px rgba(0,0,0,0.5);
}
div.projects-item-small {
    width: 180px;
    height: 180px;
}
.other-projs-mini-icon {
    height: 24px;
    border-radius: 3px;
}
mini-section {
    font-size: 1.6em;
    font-weight: 600;
    color: #fff;
}



/* Section: Buttons */
section.buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 3em;
}