/* Whole page, and main stuff */
* {
    border-radius: 15px;
    user-select: none;
    font-size: 1em;
    /*outline: none;*/
}
body {
    margin: 0px;
    background-image: radial-gradient(#1E1F46, #12162A);
    color: white;
    font-family: 'Roboto', sans-serif;
}
header, footer, section {
    max-width: 1180px;
    margin: 0 auto;
    padding: 15px 30px;
}
a {
    color: #3278FF;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
}



/* Header */
header { 
    height: 80px;
    padding: 30px 30px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.header-logo {
    display: contents;
}
.header-logo-text {
    font-size: 40px;
    margin: auto 0;
}

.header-logo-icon img {
    transition: 0.4s;
}
.header-logo-icon img:hover {
    transform: rotate(1turn);
}


.header-socials {
    margin: auto 0 auto auto;
}
.header-item img {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px;
    border-radius: 0;
}



/* Footer */
footer { 
    height: auto;
    padding: 30px 30px;
    background: linear-gradient(to left, #0000, #232769 20%, #232769 80%, #0000);
    border-radius: 0;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 60px;
}



/* Text */
h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 64px;
    margin: 0;
    margin-top: 60px;
    text-align: center;
}



/* Section: Hero */
section.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: auto;
    align-content: start
  }
section.hero-item {
    flex: 1 1 auto;
    margin: 10px;
}
#hero-heading {
    align-content: start;
}



/* Section: Projects */
section.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: auto;
    align-content: start;
    gap: 15px;
}
div.projects-item {
    width: 360px;
    height: 360px;
    flex: 0 0 auto;
    margin: 0;
    background-image: url("assets/Screenshot.jpg");
    background-size: cover;
    transition: 0.2s;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
div.projects-item:hover {
    transform: rotate(2deg) scale(1.1, 1.1);
    box-shadow: 0px 8px 24px rgba(0,0,0,0.5);
}