#board {
    background-color: rgb(152, 188, 255) !important;
}

.right-answer {
    height: auto !important;
    opacity: 100 !important;
    background-color: #a0ffb0 !important;
    border-radius: 10px;
    padding: 20px;
}